@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

html {
  font-size: 62.5%;
}

main {
  @extend .body;
  margin: 0;
  padding: 0 3.5rem;
  color: $color-tertiary;

  // &::after {
  //   content: '';
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 10rem;
  //   background: linear-gradient(transparent, black);
  //   z-index: 1;
  //   opacity: .3;
  // }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

.container{
  padding: 2rem;
  margin-top: 3rem;
}
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}


.card {
  background: #ffffff;
  box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
   font-family: $font-primary;
}
select {
  font-family: $font-primary;

  box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  // border: none;
  // width: 100%;
  padding: 10px 40px;
  // box-sizing: border-box;
  // max-width: 377px;
  margin-bottom: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: $radius;
    background-color: white;
    box-shadow:$shadow ;
    &__recette{
         padding-left: 4rem;
    padding-right: 4rem;
    min-width: 368px;
    }
}

.nav {
  @extend .body;
    background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    padding: 9px 46px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin: 20px 20px;
    justify-content: center;
    filter: drop-shadow(1px 38px 55px rgb(183, 182, 189, 1));
    flex-wrap: wrap;
  &__item {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 485px;
  margin-bottom: 50px;
  margin-top: 20px;
  // @include mobile-only {
  //   gap: 150px;
  // }
  &__button {
    background: none;
    border: none;
    font-family: $font-primary;
    padding: 2px 6px 2px 6px;
    &:hover {
      background: $color-gray;
      border-radius: 12px;
      cursor: pointer;
    }
    &_icon svg {
      margin-bottom: -7px;
      margin-right: 3px;
    }
  }
}
#form-description {
  height: 80px;
  resize: none;
}

.input {
  display: block;
  width: 100%;
  height: 4.2rem;
  margin-bottom: 2rem;
  padding: 1rem 1.8rem;
  border: solid 1px $color-gray;
  border-radius: $radius;
  color: $color-tertiary;
  background-color: transparent;

  &--email {
    padding-left: 4.2rem !important;
    // background-image: url("/icons/message.svg");
    background-repeat: no-repeat;
    background-position-x: 1.8rem;
    background-position-y: center;
    background-size: 1.6rem;
  }

  &--password {
    // @extend .Input--email;
    // background-image: url("/icons/lock.svg");
  }

  &--control {

    &.minimum > *:first-child {
      visibility: hidden;
    }
    
    &.maximum > *:last-child {
      visibility: hidden;
    }
  }

  &:focus,
  &:focus-visible {
    border-color: $color-secondary;
    outline-color: $color-secondary;
  }

  &.error,
  &.error:focus,
  &.error:focus-visible {
    margin-bottom: 1rem;
    border-color: $color-error;
    outline-color: $color-error;
  }
}